services:

  openbao:
    image: openbao/openbao:latest
    container_name: openbao
    restart: unless-stopped
    ports:
      - "8200:8200"
    environment:
      - VAULT_ADDR=http://0.0.0.0:8200
      - VAULT_DEV_ROOT_TOKEN_ID=${VAULT_TOKEN}
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    command: server -dev
    networks:
      - secrets_net
    volumes:
      - ./openbao/data:/openbao/data  

  # MongoDB for OpenBao Storage
  mongodb_vault:
    image: mongo:6.0
    container_name: mongodb_vault
    restart: unless-stopped
    ports:
      - "27018:27017"  
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: AdminSecurePassword123!
      MONGO_INITDB_DATABASE: openbao
    volumes:
      - ./mongodb-vault/data:/data/db
      - ./mongodb-vault/init:/docker-entrypoint-initdb.d:ro
    networks:
      - secrets_net
    command: mongod --quiet --logpath /dev/null

networks:
  secrets_net:
    external: true
    name: secrets_net
